/* 定义本地字体 */
@font-face {
    font-family: 'LXGW';
    src: url('/fonts/LXGWWenKaiScreen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'LXGW', sans-serif;
}
/* 更改整个页面背景 */
body {
    background-image: url('https://whvn.cc/qr27rq');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}